@font-face{
    font-family: "CustomFont";
    src: url(/font/Norse-Bold.otf);
}

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container{
    width: min(100%,1300px);
    height: min(70vw,100vh);
    font-family: sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    width: 38.5%;
    height: 100%;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.bar{
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    top: 21.8%;
}
img{
    height: 100%;
}
h1{
    font-family: "CustomFont";
    padding-top: 20px;
    font-size: min(6.5vw,84.5px);
    font-weight: lighter;
}
#left-image-comment{
    color: rgba(255, 255, 255, 0.7);
    font-size: 8.8px;
    position: relative;
    text-align: center;
    top: 82.5%;
    left: 0%;
}

#left-image-comment span{
    text-decoration: underline;
}

.right{
    width: 65%;
    height: 100%;
    background-color: white;
}