@font-face{
    font-family: "CustomFont";
    src: url(/font/Norse-Bold.otf);
}

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container{
    width: min(100%,1300px);
    height: min(70vw,100vh);
    font-family: sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Left side of the page*/
.left{
    width: 38.5%;
    height: 100%;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.bar{
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    top: 21.8%;
}
img{
    height: 100%;
}
.bar h1{
    font-family: "CustomFont";
    padding-top: 20px;
    font-size: min(6.5vw,84.5px);
    font-weight: lighter;
}
#left-image-comment{
    color: rgba(255, 255, 255, 0.7);
    font-size: 8.8px;
    position: relative;
    text-align: center;
    top: 82.5%;
    left: 0%;
}

#left-image-comment span{
    text-decoration: underline;
}

.right{
    width: 65%;
    height: 100%;
    background-color: white;
}

/* Right side of the page*/
.upper{
    height: 35%;
    width: 100%;
    background-color: rgb(247, 249, 250);
}
.upper-text{
    height: 50%;
    width: 79%;
    position: relative;
    top: 45%;
    padding-left: 5%;
    font-size: min(1.6vw,20.8px);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20%;
}
.upper-text span{
    font-style: italic;
}


.middle{
    height: 30%;
    width: 70%;
    background-color: white;
    padding-left: 5%;
    justify-content: space-between;
}
.middle h2{
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: min(2.5vw,28px);
}

input, label{
    display: block;
    font-size: 8px;
}
form input{
    width: min(20vw,260px);
    height: min(1.8vw,23.4px);
    border-radius: 2px;
    border: solid #E5E7EB 1px;
}
.not-matched{
    border-color: red;
}
h4{
    font-size: 8px;
    color: red;
}

.lower{
    height: 35%;
    width: 100%;
    background-color: red;
    background-color: rgb(247, 249, 250);
    z-index: -1;
    padding: 4%;
}

.lower button{
    width: 25%;
    height: 15%;
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    border: none;
    margin-bottom: 4.5%;
    font-size: min(1.5vw,19.5px);
    cursor: pointer;
}

.lower p{
    font-size: min(1.2vw,13px);
}

.lower span{
    color: #596D48;
    cursor: pointer;
}